body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/0fc118cd6a07ad797ca98f8f6d4c9c0e.webp');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    opacity: 0.7;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #555;
}

#countdown {
    font-size: 2em;
    color: #ff4500;
    margin-top: 20px;
}

.email input {
    width: 70%;
    height: 38px;
}
button{
    height: 38px;
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica em cima da tela */
    z-index: 1; /* Em cima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centralizado na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    text-align: center;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
